/* 
    Created on : 31.3.2015, 16:33:20
    Author     : Azze3
*/

body {    
    background-image: url("../images/beer-bg.jpg");   
    background-attachment: fixed;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: cover;
    background-size: cover;
}
div.obal {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Lato', sans-serif;

}
div.logo {
    min-height: 200px;       
}
div.kategorie {
    min-height: 500px;
}
div.obsah {
    min-height: 500px;
    margin-top: 10px;

}
div.paticka {
    min-height: 50px;
    text-align: center;
}
.form-signin {
    margin: 0 auto;
    max-width: 300px;
}
#menu-pravo {
    margin-top: 8px;
}
.list-group-item {
 background-color: white;
}


.panel:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#btn-remove {
    text-decoration: none;
}
#btn-order {
    width: 200px;
}
#form-norm input, #form-norm textArea {
    margin-bottom: 10px;
}

.form-norm  {
    max-width: 600px;  
    margin: 0 auto;
}


.fakturacni-adr {
    display: block;
}

#map {
    width: 480px;
    height: 240px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.txt-center {
    margin: 0 auto;
    text-align: center;
}
div.row.adresy {
    max-width: 600px;
    margin: 0 auto;
}
div.zakaznik {
    max-width: 600px;
    margin: 0 auto;
}
.produkt a {
    color: #403E39;
    text-decoration: none;
}
.produkt img {
    max-height: 170px;
    max-width: 205px;
    
}
.thumbnail {
    background-color: white;
}
